<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Full project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ignite.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.ignite.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssetNameServlet</display-name>
    <servlet-name>AssetNameServlet</servlet-name>
    <servlet-class>com.ignite.servlets.AssetNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetNameServlet</servlet-name>
    <url-pattern>/assetname</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Asset_detServlet</display-name>
    <servlet-name>Asset_detServlet</servlet-name>
    <servlet-class>com.ignite.servlets.Asset_detServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Asset_detServlet</servlet-name>
    <url-pattern>/asset_det</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Purchase_detServlet</display-name>
    <servlet-name>Purchase_detServlet</servlet-name>
    <servlet-class>com.ignite.servlets.Purchase_detServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Purchase_detServlet</servlet-name>
    <url-pattern>/Purchase_detServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Purchase_DetServlet</display-name>
    <servlet-name>Purchase_DetServlet</servlet-name>
    <servlet-class>com.ignite.servlets.Purchase_DetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Purchase_DetServlet</servlet-name>
    <url-pattern>/purchase_det</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Vendor_detServlet</display-name>
    <servlet-name>Vendor_detServlet</servlet-name>
    <servlet-class>com.ignite.servlets.Vendor_detServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vendor_detServlet</servlet-name>
    <url-pattern>/vendor_det</url-pattern>
  </servlet-mapping>
</web-app>